body {
  margin: 50;
  background-color: white;
  display: block;
  font-family: 'Chonburi', sans-serif;
  text-align: center;
}

.person {
  font-size: 9px;
}

.button {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  font-size: 1em;
  border: 1px solid black;
  background-color: white;
  color: black;
}
.button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}